<div *ngIf="showProgressBar">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<h1 class="login-text">Welcome to Login page</h1>

<table class="login-content" cellspacing="25">
  <tr>
    <td>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email or username" [formControl]="emailFormControl">
          <mat-hint align="end">{{emailFormControl.value.length}} / 40</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('minlength')">
            *Please enter <strong>longer</strong> email or username
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('maxlength')">
            *Too much <strong>long</strong> email or username
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
            *Please enter a <strong>valid</strong> email address or username (Use only a-z, A-Z, 0-9, ., _, %, +, -, @
            symbols)]+
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            *Email or username is <strong>required</strong>
          </mat-error>
          <button mat-button *ngIf="emailFormControl.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="emailFormControl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl">
        <mat-hint align="end">{{passwordFormControl.value.length}} / 256</mat-hint>
        <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
          *Please enter <strong>longer</strong> password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('maxlength') && !passwordFormControl.hasError('required')">
          *Too much <strong>long</strong> password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          *Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
          *Password must contain only a-z, A-Z, 0-9, _, $, &, # symbols
        </mat-error>
        <button mat-button *ngIf="passwordFormControl.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="passwordFormControl.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </td>
    <td>
      <span class="small-padding"></span>
      <button mat-raised-button color="primary" (click)="login()"
              [disabled]="emailFormControl.hasError('minlength') ||
                          emailFormControl.hasError('maxlength') ||
                          emailFormControl.hasError('pattern') ||
                          emailFormControl.hasError('required') ||
                          passwordFormControl.hasError('minlength') ||
                          passwordFormControl.hasError('maxlength') ||
                          passwordFormControl.hasError('required') ||
                          passwordFormControl.hasError('pattern')">LOG IN
      </button>
    </td>
  </tr>
</table>
